{% extends 'base.html' %}
{% block head %} 
    <title>Digital Signature</title>
{% endblock %}

{% block body %} 
<h1>Digital Signature</h1>
<form action="/sign" method="POST" enctype="multipart/form-data" >
    <input type="submit" value="signing">
</form>
<br>
<br>
<form action="/verification" method="POST" enctype="multipart/form-data" >
    
    <input type="submit" value="verification">
</form>
<br>
<form action="/keygen" method="POST" enctype="multipart/form-data">
    <input type="submit" value="Generate Key pair">
</form>
{% endblock %}