{% extends 'base.html' %}

{% block head %} 
    
{% endblock %}

{% block body %} 
<h1>Digital Signature</h1>
<form action="/signature" method="POST" enctype="multipart/form-data">
    <label for="afile">Upload file to sign</label>
    <input type="file" name="afile" id="afile">
    <input type="hidden" name="isPrivateKey" id="isPrivateKey" value= {{ isPrivateKey }} display="none">
    <br>
    {% if isPrivateKey=="True" %}
        <label for="private_key">Upload private key</label>
        <input type="file" name="private_key" id="private_key" accept=".pem">
    {% endif %}
    <br>
    <input type="submit" value="upload">    
</form>
{% endblock %}